/****************
MAIN
*****************/
.container{
    max-width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}

[class*="col-"] {
    color: lightsalmon;
    border: 1px solid white;
    height: 40px;
    text-align: center;
}

h1{
    font-size: 1rem;
    line-height: 40px;
}


/*? Section Esercizi per casa */



/*? Section Offset */