/****************
MAIN
*****************/
.container{
    max-width: 100%;
    margin: 0 auto;
}

[class*="col"] {
    border: 1px solid white;
    height: 50px;
    text-align: center;
    background-color: #006cfa;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1rem;
    color: white;
}

h1.titolo-blocco{
    line-height: 30px;
    color: black;
}


/*? Section Esercizi per casa */

.nasted-container{
    padding: 5px;
}

.nasted{
    background-color: #00e165;
    height: 100%;
    border: 1px solid #006cfa;
}

div.divider{
    height: 20px;
    width: 100%;
    background-color: white;
}

/*? Section Offset */

#es-offset{
    margin-top: 0.5rem;
}