/****************
MAIN
*****************/
.container{
    max-width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}

[class*="col-"] {
    color: lightsalmon;
    border: 1px solid white;
    height: 30px;
}


/*? Section Esercizi per casa */



/*? Section Offset */